<!DOCTYPE html>
<html style="height:100%; width:100%">
<%- include("templates/header")%>
    <body style="height:100%; width:100%">
    
    <table style="height:100%; width:100%">
        <tr style="height:100%; width:100%">
            <td valign="top" bgcolor="#2F3E50" width="15%" style="padding-top:2%">
                <div align="center" style="padding-top:20px"><a href="/Perfil" class="btn btn-sm col-sm-12" style="background-color:#40566E; font-size:20px; color:white">Perfil</a></div>
                <div align="center" style="padding-top:20px"><a href="/PanelMedico" class="btn btn-sm col-sm-12" style="background-color:#40566E; font-size:20px; color:white">Panel Médico</a></div>
                <div align="center" style="padding-top:20px"><a href="/" class="btn btn-danger btn-sm col-sm-12" style="font-size:16px;">Cerrar sesión</a></div>
            </td>
            
            <td valign="top" style="height:100%;">
            
        <div class="container-md">
            <div class="row justify-content-center align-items-center g-1 p-8">
                <h3 class="display-5"><img src="HerramientaDoctor.png" alt="" width="120px">Diagnosticar</h3>
                <div class="card">
    <!--                <div class="card-header"><h5><% if(tipoUsuarioActivo=="M"){ %>Médico<% }else if(tipoUsuarioActivo=="P"){ %>Paciente<% }else if(tipoUsuarioActivo=="S"){ %>Secretario/a<% } %>: <%= apellidos %> <%= nombres %>, CI: <%= ced %></h5></div>-->
                    <div class="card-header"><h5 align="right"><%= apellidos %> <%= nombres %><br />CI: <%= ced %></h5></div>
                    <div class="card-body">
                        <div class="row">
                        
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        
                                            <form action="/Diagnosticar" method="post">
                                                <label class="form-label"><h5>Agregar diagnóstico</h5></label>
                                                <div class="mb-3" hidden>   <!--Ocultar esta parte para el usuario, pero el código sigue funcionando.-->
                                                    <input type="text" class="form-control" value="<%= cedulaDP %>" id="Cedula" name="Cedula" required>
                                                </div>
                                                <hr />
                                                <div class="mb-3">
                                                    <label for="Descripcion" class="form-label">Descripción:</label>
                                                    <textarea class="form-control" placeholder="Escribir diagnóstico." id="Descripcion" name="Descripcion" required></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="Prescripcion" class="form-label">Prescripcion:</label>
                                                    <textarea class="form-control" placeholder="Escribir Prescripcion." id="Prescripcion" name="Prescripcion" required></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                                <button type="reset" class="btn btn-secondary">Vaciar campos</button>
                                            </form>
                                        
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body">
                                        <strong>Cita pendiente</strong>
                                        <div class="table-responsive">
                                            <table class="table table-secondary">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Cédula</th>
                                                        <th scope="col">Nombres de paciente</th>
                                                        <th scope="col">Motivo de Cita</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (datosdp.length != 0){ %>
                                                        <% datosdp.forEach((paciente)=>{ %>
                                                            <% if(diagnosticoId.Id==paciente.Id){ %>
                                                                <tr class="">
                                                                    <td><%= paciente.Cedula %></td>
                                                                    <td scope="row"><%= paciente.Apellidos %> <%= paciente.Nombres %></td>
                                                                    <td><%= paciente.MotivoCita %></td>
                                                                </tr>
                                                            <% } %>
                                                        <% })%>
                                                    <% } else { %>
                                                        <tr class="">
                                                            <td scope="row" colspan="6"  class="text-center">No hay datos.</td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            
                                                <div class="mb-3">
                                                    <label for="Antecedentes" class="form-label"><strong>Antecedentes:</strong></label>
                                                    <textarea class="form-control" value="<%= Antecedentes %>" placeholder="<%= Antecedentes %>" id="Antecedentes" name="Antecedentes" disabled required></textarea>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </td>
        </tr>
    </table>

<%- include("templates/footer")%>
    </body>
</html>