<!DOCTYPE html>
<html style="height:100%;">
<%- include("templates/header")%>
    <body style="height:100%;">
    
    <table style="height:100%;">
        <tr style="height:100%">
            <td valign="top" bgcolor="#2F3E50" width="15%" style="padding-top:2%">
                <div align="center" style="padding-top:20px"><a href="/Perfil" class="btn btn-sm col-sm-12" style="background-color:#40566E; font-size:20px; color:white">Perfil</a></div>
                <div align="center" style="padding-top:20px"><a href="/PanelSecretaria" class="btn btn-sm col-sm-12" style="background-color:#40566E; font-size:20px; color:white">Panel de control</a></div>
                <div align="center" style="padding-top:20px"><a href="/" class="btn btn-danger btn-sm col-sm-12" style="font-size:16px;">Cerrar sesión</a></div>
            </td>
            
            <td valign="top" style="height:100%;">
            
        <div class="container-md">
            <div class="row justify-content-center align-items-center g-1 p-8">
                <h3 class="display-5"><img src="HerramientaDoctor.png" alt="" width="120px">Panel de control</h3>
                <div class="card">
        <!--            <div class="card-header"><h5><% if(tipoUsuarioActivo=="M"){ %>Médico<% }else if(tipoUsuarioActivo=="P"){ %>Paciente<% }else if(tipoUsuarioActivo=="S"){ %>Secretario/a<% } %>: <%= apellidos %> <%= nombres %>, CI: <%= ced %></h5></div>-->
                    <div class="card-header"><h5 align="right"><%= apellidos %> <%= nombres %><br />CI: <%= ced %></h5></div>
                    <div class="card-body">
                        <div class="row">
                        
                        <% if(modificandoPaciente==0){ %>
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body">
                                        <strong>Lista de pacientes (se muestran máximo 10 registros)</strong>
                                        <div class="table-responsive">
                                            <table class="table table-secondary">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Cédula</th>
                                                        <th scope="col">Nombres del paciente</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (TablaUsuarios.length != 0){ %>
                                                        <% if(TablaUsuarios.length<10){ %>
                                                            <% TablaUsuarios.forEach((pacientes)=>{ %>
                                                                <% if (pacientes.TipoUsuario == "P"){ %>
                                                                    <tr class="">
                                                                        <td><%= pacientes.Cedula %></td>
                                                                        <td scope="row"><%= pacientes.Apellidos %> <%= pacientes.Nombres %></td>
                                                                        <td>
                                                                        <a href="/DetallesUsuarioSignosVitales/<%= pacientes.Cedula %>" class="btn btn-info text-white btn-sm" >Modificar signos vitales</a>
                                                                        </td>
                                                                    </tr>
                                                                <% } %>
                                                            <% })%>
                                                        <% }else{ %>
                                                            <% for(var i=0; i<10; i++){ %>
                                                                <% if (TablaUsuarios[i].TipoUsuario == "P"){ %>
                                                                    <tr class="">
                                                                        <td><%= TablaUsuarios[i].Cedula %></td>
                                                                        <td scope="row"><%= TablaUsuarios[i].Apellidos %> <%= TablaUsuarios[i].Nombres %></td>
                                                                        <td>
                                                                        <a href="/DetallesUsuarioSignosVitales/<%= TablaUsuarios[i].Cedula %>" class="btn btn-info text-white btn-sm" >Modificar signos vitales</a>
                                                                        </td>
                                                                    </tr>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    <% } else { %>
                                                        <tr class="">
                                                            <td scope="row" colspan="3" class="text-center">No hay lista de pacientes.</td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }else if(modificandoPaciente==1){ %>
                            <% if(signosUsuario.length!=0){ %>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
        <!--                                    <strong>Mis datos personales</strong>-->
                                            <div class="table-responsive">
                                            
                                                <form action="/Perfil" method="post" id="Perfil">
                                                    <div class="form-group">
                                                        <label class="title pb-1" for="Cedula">Cédula</label>
                                                        <input type="text" class="form-control" id="Cedula" value="<%= signosUsuario[0].Cedula %>" name="Cedula" disabled required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pb-1" for="Apellidos">Apellidos</label>
                                                        <input type="text" class="form-control" id="Apellidos" value="<%= signosUsuario[0].Apellidos %>" name="Apellidos" disabled required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pb-1" for="Nombres">Nombres</label>
                                                        <input type="text" class="form-control" id="Nombres" value="<%= signosUsuario[0].Nombres %>" name="Nombres" disabled required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="Correo">Correo</label>
                                                        <input type="text" class="form-control" id="Correo" value="<%= signosUsuario[0].Correo %>" name="Correo" disabled required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="Nacimiento">Fecha de nacimiento</label>
                                                        <input type="date" class="form-control" id="Nacimiento" value="<%= signosUsuario[0].Nacimiento %>" name="Nacimiento" disabled required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="Sexo">Sexo</label>
                                                        <select class="form-control" id="Sexo" name="Sexo" disabled required>
                                                                <option value=<%= signosUsuario[0].Sexo %> selected hidden><% if(signosUsuario[0].Sexo=="M"){ %>
                                                                                                                                    Masculino
                                                                                                                               <% }else if(signosUsuario[0].Sexo=="F"){ %>
                                                                                                                                    Femenino
                                                                                                                               <% }else{ %>
                                                                                                                                    No definido
                                                                                                                               <% } %></option>
                                                                <option value="M">Masculino</option>
                                                                <option value="F">Femenino</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="Telefono">Teléfono</label>
                                                        <input type="text" class="form-control" id="Telefono" value="<%= signosUsuario[0].Telefono %>" name="Telefono" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="EstadoCivil">Estado civil</label>
                                                        <select class="form-control" id="EstadoCivil" name="EstadoCivil" disabled required>
                                                                <option value=<%= signosUsuario[0].EstadoCivil %> selected hidden><% if(signosUsuario[0].EstadoCivil=="S"){ %>
                                                                                                                                            Soltero/a
                                                                                                                                       <% }else if(signosUsuario[0].EstadoCivil=="C"){ %>
                                                                                                                                            Casado/a
                                                                                                                                       <% }else if(signosUsuario[0].EstadoCivil=="D"){ %>
                                                                                                                                            Divorciado/a
                                                                                                                                       <% }else if(signosUsuario[0].EstadoCivil=="V"){ %>
                                                                                                                                            Viudo/a
                                                                                                                                       <% }else{ %>
                                                                                                                                            No definido
                                                                                                                                       <% } %></option>
                                                                <option value="S">Soltero/a</option>
                                                                <option value="C">Casado/a</option>
                                                                <option value="D">Divorciado/a</option>
                                                                <option value="V">Viudo/a</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <% if(signosUsuario[0].TipoUsuario!="P" && signosUsuario[0].TipoUsuario!="S"){ %>
                                                        <div class="form-group" hidden>
                                                            <label class="title pt-2 pb-1" for="TipoUsuario">Privilegio</label>
                                                            <select class="form-control" id="TipoUsuario" name="TipoUsuario" disabled required>
                                                                    <option value=<%= signosUsuario[0].TipoUsuario %> selected hidden><% if(signosUsuario[0].TipoUsuario=="P"){ %>
                                                                                                                                                Paciente
                                                                                                                                          <% }else if(signosUsuario[0].TipoUsuario=="M"){ %>
                                                                                                                                                Médico/a
                                                                                                                                          <% }else if(signosUsuario[0].TipoUsuario=="S"){ %>
                                                                                                                                                Secretario/a
                                                                                                                                          <% }else if(signosUsuario[0].TipoUsuario=="PM"){ %>
                                                                                                                                                Paciente y Médico/a
                                                                                                                                          <% }else if(signosUsuario[0].TipoUsuario=="PS"){ %>
                                                                                                                                                Paciente y Secretario/a
                                                                                                                                          <% }else if(signosUsuario[0].TipoUsuario=="MS"){ %>
                                                                                                                                                Médico/a y Secretario/a
                                                                                                                                          <% }else if(signosUsuario[0].TipoUsuario=="PMS"){ %>
                                                                                                                                                Paciente, Médico/a y Secretario/a
                                                                                                                                          <% }else{ %>
                                                                                                                                                No definido
                                                                                                                                          <% } %></option>
                                                                    <option value="P">Paciente</option>
                                                                    <option value="M">Médico/a</option>
                                                                    <option value="S">Secretario/a</option>
                                                                    <option value="PM">Paciente y Médico/a</option>
                                                                    <option value="PS">Paciente y Secretario/a</option>
                                                                    <option value="MS">Médico/a y Secretario/a</option>
                                                                    <option value="PMS">Paciente, Médico/a y Secretario/a</option>
                                                            </select>
                                                        </div>
                                                    <% }else{ %>
                                                        <div class="form-group">
                                                            <label class="title pt-2 pb-1" for="TipoUsuario">Privilegio</label>
                                                            <select class="form-control" id="TipoUsuario" name="TipoUsuario" disabled required>
                                                                    <option value=<%= signosUsuario[0].TipoUsuario %> selected hidden><% if(signosUsuario[0].TipoUsuario=="P"){ %>
                                                                                                                                    Paciente
                                                                                                                               <% }else if(signosUsuario[0].TipoUsuario=="S"){ %>
                                                                                                                                    Secretario/a
                                                                                                                               <% } %></option>
                                                            </select>
                                                        </div>
                                                    <% } %>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--SIGNOS VITALES-->
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                                <% if(datosGuardados == 1){ %>
                                                    <div align="center" class="container container-btn pt-1 mx-auto" style="background-color:green; color:white;">
                                                        <p>¡Cambios guardados!</p>
                                                    </div>
                                                <% } %>
        <!--                                    <strong>Mis signos vitales</strong>-->
                                            <div class="table-responsive">
                                                <form action="/ActualizarSignosVitales" method="post" id="ActualizarSignosVitales">
                                                    <div class="form-group" hidden>
                                                        <label class="title pb-1" for="Cedula">Cédula</label>
                                                        <input type="text" class="form-control" id="Cedula" value="<%= signosUsuario[0].Cedula %>" name="Cedula" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pb-1" for="PresionArtSistolica">Presion arterial sistólica</label>
                                                        <input type="text" class="form-control" id="PresionArtSistolica" value="<%= signosUsuario[0].PresionArtSistolica %>" name="PresionArtSistolica" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pb-1" for="PresionArtDiastolica">Presion arterial diastólica</label>
                                                        <input type="text" class="form-control" id="PresionArtDiastolica" value="<%= signosUsuario[0].PresionArtDiastolica %>" name="PresionArtDiastolica" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pb-1" for="Temperatura">Temperatura en grados celsius</label>
                                                        <input type="text" class="form-control" id="Temperatura" value="<%= signosUsuario[0].Temperatura %>" name="Temperatura" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="Estatura">Estatura en metros</label>
                                                        <input type="text" class="form-control" id="Estatura" value="<%= signosUsuario[0].Estatura %>" name="Estatura" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="title pt-2 pb-1" for="Peso">Peso en kg</label>
                                                        <input type="text" class="form-control" id="Peso" value="<%= signosUsuario[0].Peso %>" name="Peso" required>
                                                    </div>
                                                    <br />
                                                    <div class="container container-btn pt-1 mx-auto" align="center">
                                                        <button type="submit" class="btn btn-primary col-sm-12" form="ActualizarSignosVitales" value="ActualizarSignosVitales"
                                                            style="margin-right: 10px !important;">Guardar cambios</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--FIN SIGNOS VITALES-->
                            <% } %>
                        <% } %>
                            
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="/BuscarEnPanelSecretaria" method="post">
                                            <div class="mb-3">
                                                <label for="Cedula" class="form-label">Buscar paciente:</label>
                                                <input type="text" class="form-control" placeholder="Buscar por cédula" id="Cedula" name="Cedula" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Buscar</button>
                                        </form>
                                    </div>
                                </div>
                                
                                <% if(usuarioEncontrado!=0 && buscandoPaciente==1){ %>
                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="CedulaEncontrada" class="form-label">Paciente con CI <strong><%= usuariosPS[0].Cedula %></strong> encontrado/a:</label>
                                                    <input type="text" class="form-control" placeholder="<%= usuariosPS[0].Apellidos %> <%= usuariosPS[0].Nombres %>" id="CedulaEncontrada" name="CedulaEncontrada" disabled required>
                                                </div>
                                                <a href="/DetallesUsuarioSignosVitales/<%= usuariosPS[0].Cedula %>" class="btn btn-info text-white btn-sm col-sm-8" >Modificar signos vitales</a>
                                                <a href="/PanelSecretaria" class="btn btn-secondary text-white btn-sm col-sm-3" >Limpiar</a>
                                            </div>
                                        </div>
                                    </div>
                                <% }else if(usuarioEncontrado==0 && buscandoPaciente==1){ %>
                                <hr />
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label class="form-label">No se encontró al paciente.</label>
                                                </div>
                                                <a href="/PanelSecretaria" class="btn btn-secondary text-white btn-sm col-sm-12" >Limpiar</a>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </td>
        </tr>
    </table>

<%- include("templates/footer")%>
    </body>
</html>